<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/collec2.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=FC+Iconic&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Epilogue&display=swap" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link href="assets/css/all.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <title>Collection</title>
    <link rel="icon" type="image/x-icon" href="assets/img/icon/icon.png">
</head>

<body>

    <!-- Start navbar -->
    <nav>
        <div class='heading'>
            <a href="picture1.html" id="logo"><img src="assets/img/imga.png" width="300px"></a>
        </div>
        <ul class='nav-link'>
            <li><a href="picture1.html" id="pi">ภาพวาด</a></li>
            <li><a href="#" id="pi">ภาพถ่าย</a></li>
            <li><a href="#" id="pi">ไอค่อน</a></li>
            <li><a href="#" id="pi">ภาพเสมือนจริง</a></li>
            <li><a href="collection1.html" class="active"">คอลเลคชั่น</a></li>
        </ul>

        <div class="profile">
            <a href="profile-picture.html" id="prof"><img src="assets/img/icon/profile.png" width="100px"></a>
        </div>

        <a class="addwork" href="upload.html"><button id="addw">เพิ่มผลงาน</button></a>
    </nav>
    <!-- End navbar -->

    <!--upload-->
    <div class="header">
        <div class="upload">
            <div class="preview">
                <img src="assets/img/collection2/collec1.png" id="img-coll2">
            </div>

            <div class="details">

                <div class="card-box">
                    <img src="assets/img/allwork/allwork1.png" class="photo" width="90px">
                    <div class="info">
                        <h3 class="img-name">ภาพภ่าย</h3>
                        <div class="title">ยามเย็นเมื่อสุขใจ</div>
                        <div class="time">27 minutes 10 seconds ago</div>
                    </div>

                    <div class="edit-work">
                        <button class="ew">ดาวน์โหลด</button>
                    </div>

                </div>



                <div class="card-box">
                    <img src="assets/img/allwork/allwork2.png" class="photo" width="90px">
                    <div class="info">
                        <h3 class="img-name">ภาพเสมือน</h3>
                        <div class="title">โรงงานนรก</div>
                        <div class="time">27 minutes 10 seconds ago</div>
                    </div>

                    <div class="edit-work">
                        <button class="ew">ดาวน์โหลด</button>
                    </div>

                </div>



                <div class="card-box">
                    <img src="assets/img/allwork/allwork3.png" class="photo" width="90px">
                    <div class="info">
                        <h3 class="img-name">ภาพเสมือน</h3>
                        <div class="title">เปียโนของฉัน</div>
                        <div class="time">27 minutes 10 seconds ago</div>
                    </div>

                    <div class="edit-work">
                        <button class="ew">ดาวน์โหลด</button>
                    </div>

                </div>



                <div class="card-box">
                    <img src="assets/img/allwork/allwork4.png" class="photo" width="90px">
                    <div class="info">
                        <h3 class="img-name">ภาพวาด</h3>
                        <div class="title">รถคันเก่า</div>
                        <div class="time">27 minutes 10 seconds ago</div>
                    </div>

                    <div class="edit-work">
                        <button class="ew">ดาวน์โหลด</button>
                    </div>

                </div>



                <div class="card-box">
                    <img src="assets/img/allwork/allwork5.png" class="photo" width="90px">
                    <div class="info">
                        <h3 class="img-name">ภาพวาด</h3>
                        <div class="title">ทางเดินที่หวาดเสียว</div>
                        <div class="time">27 minutes 10 seconds ago</div>
                    </div>

                    <div class="edit-work">
                        <button class="ew">ดาวน์โหลด</button>
                    </div>

                </div>



                <div class="card-box">
                    <img src="assets/img/allwork/allwork6.png" class="photo" width="90px">
                    <div class="info">
                        <h3 class="img-name">ภาพภ่าย</h3>
                        <div class="title">ต้นไม้กลางบ้าน</div>
                        <div class="time">27 minutes 10 seconds ago</div>
                    </div>

                    <div class="edit-work">
                        <button class="ew">ดาวน์โหลด</button>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <!--endupload-->

    <!---->
    <div class="preview2">
        <!--editcollection-->
        <div class="ud">
            <div class="dt">
                <form action="#">
                    <div class="details-img">
                        <div class="name">
                            <p id="one"><b>คอลเลคชั่นต้นไม้กลางหมูบ้านของน้ำพุ</b></p>
                            <p id="two">by wanit</p>
                        </div>

                        <div class="description">
                            รายละเอียดคอลเลกชั่น
                        </div>

                        <div class="submit">
                            <button type="submit" id="download">ดาวน์โหลดรูปภาพทั้งหมด</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!--endeditcollection-->
    </div>
    <!---->

    <!---->
    <div class="profimg">
        <img src="assets/img/collection2/1collprof.png" id="prof">
    </div>
    <!---->


    <!--footer-->
    <footer>
        <div class="explain">
            <div class="teamimg">
                <img src="assets/img/imga.png" width="300px">
            </div>
            <h3 id="headexplain">มากกว่ารูปภาพคือความรู้สึก</h3><br>
            <p id="explain1"> หากคุณ คือ ศิลปินตัวจริง มาร่วมแชร์ผลงานสร้างสรรค์ของคุณ<br><br>
                หากคุณ คือ ผู้ที่ชื่นชอบศิลปะเป็นชีวิตจิตใจ เชิญชมผลงาน<br>
                ของศิลปิน ผ่านแอมเมจแกลเลอรี</p>
        </div>

        <div class="team">
            <img src="assets/img/team.png" width="700px">
        </div>
    </footer>
    <!--footer-->
</body>

</html>