<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=FC+Iconic&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Epilogue&display=swap" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link href="assets/css/all.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <title>Index</title>
    <link rel="icon" type="image/x-icon" href="assets/img/icon/icon.png">
</head>

<body>
    <!-- Start navbar -->
    <nav>
        <div class='heading'>
            <h1><a href="index.html" id="iamg"><img src="assets/img/imga.png" width="300px"></a></h1>
        </div>
        <ul class='nav-link'>
            <li><a href="register.html" id="register">สมัครสมาชิก</a></li>
            <li><a href="login.html" id="login">เข้าสู่ระบบ</a></li>
        </ul>
    </nav>
    <!-- End navbar -->

    <!--ส่วนแรก-->
    <div class='body-head-1'>
        <h1 id="head-1">
            I’mage gallery more than picture is a feeling
        </h1>
    </div>

    <div class="part1">
        <div class="present">
            <div class="presentimg">
                <div class="preimg1">
                    <img src="assets/img/patya.png" width="250px">
                    <p id="pratya"><b>Pratya Palee</b><span class="material-symbols-outlined">
                            verified
                        </span></p>
                </div>

                <div class="preimg2">
                    <img src="assets/img/wanit.png" width="250px">
                    <p id="wanit"><b>Wanit Nimsuwan</b><span class="material-symbols-outlined">
                            verified
                        </span></p>
                </div>
            </div>
        </div>

        <div class="presettext">
            <div class="pretext1">
                <h1>มากกว่ารูปภาพคือความรู้สึก</h1>
            </div>
            <div class="pretext2">
                <p>หากคุณ คือ ศิลปินตัวจริง<br>
                    มาร่วมแชร์ผลงานสร้างสรรค์ของคุณ<br><br>
                    หากคุณ คือ ผู้ที่ชื่นชอบศิลปะเป็นชีวิตจิตใจ<br>
                    และต้องการใช้ผลงานศิลปะ เชิญชมผลงาน<br>
                    ของศิลปิน ผ่านแอมเมจแกลเลอรี</p>
            </div>
        </div>
    </div>
    <!--จบส่วนแรก-->

    <!--ส่วนสอง-->
    <div class="poppular">
        <div class="poppular_images">
            <h1>รูปฮิต ติดเทรนด์</h1>
        </div>
        <div class="popfile">
            <div class="img">
                <div class="pop-img">
                    <img src="assets/img/wanitpic.png" alt="">
                </div>
                <div class="img-name">Wanit Photo #1</div>
                <div class="pop-name">WANIT</div>
            </div>
            <div class="img">
                <div class="pop-img">
                    <img src="assets/img/fang.png" alt="">
                </div>
                <div class="img-name">Fang Photo #2002</div>
                <div class="pop-name">FANG</div>
            </div>
            <div class="img">
                <div class="pop-img">
                    <img src="assets/img/min.png" alt="">
                </div>
                <div class="img-name">MIN Photo #1999</div>
                <div class="pop-name">MINJAY</div>
            </div>
            <div class="img">
                <div class="pop-img">
                    <img src="assets/img/mark.png" alt="">
                </div>
                <div class="img-name">Mark Photo #04</div>
                <div class="pop-name">MARK</div>
            </div>
        </div>
    </div>
    <!--จบส่วนสอง-->

    <!--ส่วนสาม-->
    <div class="poppular_correction">
        <h1>คอลเลกชันยอดนิยม</h1>
    </div>
    <div class="correction">
        <div class="cor-item">
            <img src="assets/img/correction/correction1.png" width="260px">
        </div>
        <div class="cor-item">
            <img src="assets/img/correction/correction2.png" width="260px">
        </div>
        <div class="cor-item">
            <img src="assets/img/correction/correction3.png" width="260px">
        </div>
    </div>

    <div class="correction">
        <div class="cor-item">
            <img src="assets/img/correction/correction4.png" width="260px">
        </div>
        <div class="cor-item">
            <img src="assets/img/correction/correction5.png" width="260px">
        </div>
        <div class="cor-item">
            <img src="assets/img/correction/correction6.png" width="260px">
        </div>
    </div>
    <!--จบส่วนสาม-->

    <!--ส่วนสี่-->
    <div class="categoryimg">
        <h1>หมวดหมู่รูปภาพ</h1>
    </div>
    <div class="category">
        <div class="cate-img">
            <img src="assets/img/category/category1.png" width="500px">
        </div>
        <div class=" cate-img">
            <img src="assets/img/category/category2.png" width="500px">
        </div>
    </div>

    <div class=" category">
        <div class="cate-img">
            <img src="assets/img/category/category3.png" width="500px">
        </div>
        <div class=" cate-img">
            <img src="assets/img/category/category4.png" width="500pxs">
        </div>
    </div>
    <!--จบส่วนที่สี่-->

    <!--footer-->
    <footer>
        <div class="explain">
            <div class="teamimg">
                <img src="assets/img/imga.png" width="300px">
            </div>
            <h3 id="headexplain">มากกว่ารูปภาพคือความรู้สึก</h3><br>
            <p id="explain1"> หากคุณ คือ ศิลปินตัวจริง มาร่วมแชร์ผลงานสร้างสรรค์ของคุณ<br><br>
                หากคุณ คือ ผู้ที่ชื่นชอบศิลปะเป็นชีวิตจิตใจ เชิญชมผลงาน<br>
                ของศิลปิน ผ่านแอมเมจแกลเลอรี</p>
        </div>

        <div class="team">
            <img src="assets/img/team.png" width="700px">
        </div>
    </footer>
    <!--footer-->



</body>

</html>