<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/picture1.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=FC+Iconic&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Epilogue&display=swap" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link href="assets/css/all.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <title>Picture</title>
    <link rel="icon" type="image/x-icon" href="assets/img/icon/icon.png">
</head>

<body>

    <!-- Start navbar -->
    <nav>
        <div class='heading'>
            <a href="picture1.html" id="logo"><img src="assets/img/imga.png" width="300px"></a>
        </div>
        <ul class='nav-link'>
            <li><a href="picture1.html" class="active" id="pi">ภาพวาด</a></li>
            <li><a href="#" id="pi">ภาพถ่าย</a></li>
            <li><a href="#" id="pi">ไอค่อน</a></li>
            <li><a href="#" id="pi">ภาพเสมือนจริง</a></li>
            <li><a href="collection1.html" id="pi">คอลเลคชั่น</a></li>
        </ul>

        <div class="profile">
            <a href="profile-picture.html" id="prof"><img src="assets/img/icon/profile.png" width="100px"></a>
        </div>

        <a class="addwork" href="upload.html"><button id="addw">เพิ่มผลงาน</button></a>
    </nav>
    <!-- End navbar -->

    <div class="head">
        <h1>
            ภาพวาด Painting
        </h1>
    </div>

    <div class="contrainer">
        <div class="item">
            <div class="content">
                <a href="picture2.html"><img src="assets/img/picture1/pic1.png" width="200px"></a>
                <h3>Ex Shiba Astronaut</h3>
                <div class="text">
                    <p id="one">ARTIST</p>
                    <p id="two">WANIT</p>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="content">
                <a href="picture2.html"><img src="assets/img/picture1/pic2.png" width="200px"></a>
                <h3>Ex Shiba Astronaut</h3>
                <div class="text">
                    <p id="one">ARTIST</p>
                    <p id="two">WANIT</p>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="content">
                <a href="picture2.html"><img src="assets/img/picture1/pic3.png" width="200px"></a>
                <h3>Ex Shiba Astronaut</h3>
                <div class="text">
                    <p id="one">ARTIST</p>
                    <p id="two">MARK</p>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="content">
                <a href="picture2.html"><img src="assets/img/picture1/pic4.png" width="200px"></a>
                <h3>Ex Shiba Astronaut</h3>
                <div class="text">
                    <p id="one">ARTIST</p>
                    <p id="two">MARK</p>
                </div>
            </div>
        </div>

    </div>

    <div class="contrainer">
        <div class="item">
            <div class="content">
                <a href="picture2.html"><img src="assets/img/picture1/pic5.png" width="200px"></a>
                <h3>Ex Shiba Astronaut</h3>
                <div class="text">
                    <p id="one">ARTIST</p>
                    <p id="two">MARK</p>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="content">
                <a href="picture2.html"><img src="assets/img/picture1/pic6.png" width="200px"></a>
                <h3>Ex Shiba Astronaut</h3>
                <div class="text">
                    <p id="one">ARTIST</p>
                    <p id="two">MARK</p>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="content">
                <a href="picture2.html"><img src="assets/img/picture1/pic7.png" width="200px"></a>
                <h3>Ex Shiba Astronaut</h3>
                <div class="text">
                    <p id="one">ARTIST</p>
                    <p id="two">FANG</p>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="content">
                <a href="picture2.html"><img src="assets/img/picture1/pic8.png" width="200px"></a>
                <h3>Ex Shiba Astronaut</h3>
                <div class="text">
                    <p id="one">ARTIST</p>
                    <p id="two">FANG</p>
                </div>
            </div>
        </div>

    </div>

    <div class="contrainer">
        <div class="item">
            <div class="content">
                <a href="picture2.html"><img src="assets/img/picture1/pic9.png" width="200px"></a>
                <h3>Ex Shiba Astronaut</h3>
                <div class="text">
                    <p id="one">ARTIST</p>
                    <p id="two">FANG</p>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="content">
                <a href="picture2.html"><img src="assets/img/picture1/pic10.png" width="200px"></a>
                <h3>Ex Shiba Astronaut</h3>
                <div class="text">
                    <p id="one">ARTIST</p>
                    <p id="two">MINJAY</p>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="content">
                <a href="picture2.html"><img src="assets/img/picture1/pic11.png" width="200px"></a>
                <h3>Ex Shiba Astronaut</h3>
                <div class="text">
                    <p id="one">ARTIST</p>
                    <p id="two">MINJAY</p>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="content">
                <a href="picture2.html"><img src="assets/img/picture1/pic12.png" width="200px"></a>
                <h3>Ex Shiba Astronaut</h3>
                <div class="text">
                    <p id="one">ARTIST</p>
                    <p id="two">MINJAY</p>
                </div>
            </div>
        </div>

    </div>

    <!--footer-->
    <footer>
        <div class="explain">
            <div class="teamimg">
                <img src="assets/img/imga.png" width="300px">
            </div>
            <h3 id="headexplain">มากกว่ารูปภาพคือความรู้สึก</h3><br>
            <p id="explain1"> หากคุณ คือ ศิลปินตัวจริง มาร่วมแชร์ผลงานสร้างสรรค์ของคุณ<br><br>
                หากคุณ คือ ผู้ที่ชื่นชอบศิลปะเป็นชีวิตจิตใจ เชิญชมผลงาน<br>
                ของศิลปิน ผ่านแอมเมจแกลเลอรี</p>
        </div>

        <div class="team">
            <img src="assets/img/team.png" width="700px">
        </div>
    </footer>
    <!--footer-->


</body>

</html>