<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/register.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=FC+Iconic&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Epilogue&display=swap" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link href="assets/css/all.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <title>Register</title>
    <link rel="icon" type="image/x-icon" href="assets/img/icon/icon.png">
</head>

<body>
    <!-- Start navbar -->
    <nav>
        <div class='heading'>
            <h1><a href="index.html" id="iamg"><img src="assets/img/imga.png" width="300px"></a></h1>
        </div>
        <ul class='nav-link'>
            <li><a href="register.html" id="register">สมัครสมาชิก</a></li>
            <li><a href="login.html" id="login">เข้าสู่ระบบ</a></li>
        </ul>
    </nav>
    <!-- End navbar -->

    <!--register-->
    <form action="login.html">
        <div class="register">
            <div class="regimg">
                <img src="assets/img/log_reg/register.png" width="700px">
            </div>
            <div class="fillreg">
                <h1 id="headreg">
                    ลงทะเบียนผู้ใช้งานใหม่
                </h1>
                <div class="container">
                    <form>
                        <input type="text" placeholder="Display name" name="dname" required>
                        <input type="text" placeholder="Youremail@gmail.com" name="email" required>
                        <input type="password" placeholder="Password" name="psw" required>
                        <input type="password" placeholder="Confirm-Password" name="cpsw" required>

                        <label class="check">
                            <input type="checkbox" checked="checked" name="check"> I have read and accept the Term of
                            serviece and confirm that I am at least 13 years old
                        </label>

                        <button type="submit" id="sub">สมัครสมาชิก</button>
                    </form>
                </div>
    </form>
    </div>
    </div>
    <!--endregister-->
</body>

</html>